<?xml version="1.0"?>
<model>
  <name>3DR Iris with front facing lidar</name>
  <version>1.0</version>
  <sdf version='1.4'>iris_distance_sensor.sdf</sdf>

  <author>
   <name>Zach Lowell</name>
   <email>zachary.lowell@ascendengineer.com</email>
  </author>

  <description>
    This is a model of the 3DR Iris Quadrotor with front facing lidar.
  </description>
</model>
