<?xml version="1.0"?>
<model>
  <name>ModalAI with external vision pose estimation</name>
  <version>1.0</version>
  <sdf version='1.5'>modalai.sdf</sdf>

  <author>
   <name>Eric Katzfey</name>
   <email>eric.katzfey@modalai.com</email>
  </author>

  <description>
    This is a model of the ModalAI Quadrotor with external vision pose estimation. The original model has been created by
    Thomas Gubler and is maintained by Lorenz Meier. The external vision pose estimation has been created by Christoph Tobler.
  </description>
</model>
